<nav class="navbar">
    <link rel="stylesheet" href="/styles/nav.css" />
    <div>
        <a class="nav1" href="/"> TubeYou </a>
        <a class="nav1" href="/videos"> Videos </a>
        <a class="nav1" href="/videos/new"> Upload Videos </a>
    </div>
</nav>