<doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Bootstrap Demo</title>
</head>
<body>
    <h1>Sup World</h1>
<nav class="navbar">
    <link rel="stylesheet" href="/styles/nav.css" />
    <div>
        <a class="nav1" href="/"> TubeYou </a>
        <a class="nav1" href="/videos"> Videos </a>
        <a class="nav1" href="/videos/new"> Upload Videos </a>
    </div>
</nav>