<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="/styles/comments.css"/>
    <head>

    </head>
    <body>
        <div>
            <form method="POST" action="/comments">
                <input name="user" type="hidden" value="user1"/>
                <div>
                    <textarea id="commentArea" name="body" rows="7" cols="40">Write comment here</textarea>
                </div>
                <input name="video" type="hidden" value=""/>
                <button type="submit">
                    Submit Comment
                </button>
            </form>
        </div>

    </body>
</html>