<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head", {page: "edit"}) %>

    <body>
        <%- include("partials/nav") %>

        <section>
            <div>
                <h2 class="title">404 Page not found</h2>
            </div>
        </section>

        <main class="container">
            <a href="/videos">Return to videos</a>
        </main>
    </body>
</html>