<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head', {page: 'edit'})  %>
    <body>
    <%- include('partials/nav')  %>

        <section>
            <div>
                <h2 class="title">Home Page</h2>
            </div>
        </section>

        <main class="container">
            <h1>Welcome to TubeYou</h1>
            <div>
							<!-- your content here -->
                
            </div>
        </main>
    
	</body>
</html>