<!DOCTYPE html>
<html lang="en">
  
	<%- include( 'partials/head.ejs', { page: 'Products' } ) %> 
    <body>  
		<%- include( 'partials/nav.ejs' )  %>

        <section>
            <div>
                <h2 class="title">All Videos</h2>
            </div>
        </section>
        <main class="container">
            <div>
                <% for( let i = 0; i<videos.length; i++){ %>
                    <% const firstVideo = videos[i] %>
                    <a href="/videos/<%= firstVideo._id %>"><%= firstVideo.title %></a> 
                <% } %> 
            </div>          
        </main>  
	</body>
</html>