body{
    display: flex;
    justify-content: center;
    background-color: rgb(47, 47, 47);
} 

.title {
    padding-top: 20px;
    text-align: center;
    text-shadow: 1px 1px gray;
}

#video {
    display: block;
    padding: 15px;
    font-size: 1.5em;
    text-align: center;
    color: black;
    text-shadow: 1.5px 1.5px gray;
}