body {
    background-color: rgb(255, 255, 255);
    background: #1ACF2D;
    background: -moz-radial-gradient(center, #1ACF2D 0%, #2388CB 45%, #ED1515 100%);
    background: -webkit-radial-gradient(center, #1ACF2D 0%, #2388CB 45%, #ED1515 100%);
    background: radial-gradient(ellipse at center, #ffffff 0%, #2388CB 45%, #ffffff 100%);
}
