body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

label {
    font-size: 25px;
    text-shadow: 1px 1px 2px white;
}

input {
    height: 6rem;
    width: 32rem;
    font-size: large;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    border-radius: 30px ;
    box-shadow: 5px 5px 1px black;
}

.btn {
    height: 3rem;
    width: 6rem;
    border-radius: 10px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}