body {
    display: flex;
    justify-content: center;
}

textarea {
    resize: none;
}

.container {
    font-family: Geneva, Verdana, sans-serif;
    font-weight: bold;
}

#comment {
    padding: 20px;
}

.comments {
    background-color: white;
}